fastapi
uvicorn
python-dotenv
sqlalchemy
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
pydantic[email]
numpy
networkx
pydantic
llama-cpp-python
langgraph
langchain
torch
transformers
sentence-transformers
datasets
faiss-cpu
langchain-community
langchain-huggingface
jq